.user-info {
    input{
        border: none;
        border-bottom: 1px solid;
        box-shadow: none;
        border-radius: 0!important;
    }
    .form-control[disabled]{
        color: #000;
    }
    .user-image {
        text-align: center;
        margin-bottom: 30px;
        .image {
            width: 240px;
            margin: auto;
            position: relative;
            overflow: hidden;

            img {
                width: 100%;
            }

            .change-image {
                display: block;
                position: absolute;
                width: 100%;
                bottom: -40px;
                padding: 5px 0;
                background: rgba(0, 0, 0, 0.6);
                transition: bottom 0.1s ease;
                i {
                    padding: 5px;
                    border: 2px solid;
                    border-radius: 50%;
                    border-color: #eee;
                    color: #eee;
                    width: 30px;
                    height: 30px;
                    line-height: 19px;
                    cursor: pointer;
                }
            }
        }
        .image:hover {
            .change-image {
                bottom: 0;
            }
        }
    }
}