.category-management{
    min-height: 70%;
}
.category-management .content-box{
    /*background-color: rgba(244,247,250,.65);*/
    height: 100%;
}
.category-management .ui.grid {
    margin: 0;
}
.category-management h2,
.category-management .ui.form .field > label,
.category-management .ui.form textarea,
.category-management .ui.form input {
    color: #73879C;
}

.category-management .treeview {
    font-size: 1rem;
}

.category-management .dkm-readonly textarea,
.category-management .dkm-readonly input[type=text] {
    background: #f8fafc;
}