.dkm-ad-category-input-box .dkm-label {
  display: block;
  margin: 0 0 .28571429rem;
  color: rgba(0, 0, 0, .87);
  font-size: .92857143em;
  font-weight: 700;
  text-transform: none;
}

.dkm-ad-category-input-box .dkm-show-selected-categories {
  width: 100%;
}

.dkm-ad-category-input-box .dkm-show-selected-categories .dkm-category {
  background: #fff;
  border: 1px solid rgba(34, 36, 38, .15);
  color: rgba(0, 0, 0, .87);
  border-radius: .28571429rem;
  box-shadow: 0 0 0 0 transparent inset;
  position: relative;
  /*font-size: .71428571rem;*/
}

.dkm-ad-category-input-box .dkm-show-selected-categories .dkm-input {
  display: table;
  height: 2em;
  font-size: .8em;
  min-height: 4em;
  padding: 5px;
}

.dkm-ad-category-input-box .dkm-show-selected-categories .dkm-input .dkm-selected-category:hover > span {
  color: rgb(33, 133, 208);
}

.dkm-ad-category-input-box .dkm-show-selected-categories .dkm-input .dkm-selected-category {
  display: inline-block;
  border-radius: 6px;
  border: 1px solid #b9b9b9;
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #f4f4f4), color-stop(50%, #f0f0f0), color-stop(52%, #e8e8e8), color-stop(100%, #eeeeee));
  background-image: -webkit-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -moz-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: -o-linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-image: linear-gradient(#f4f4f4 20%, #f0f0f0 50%, #e8e8e8 52%, #eeeeee 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: 0 0 2px white inset, 0 1px 0 rgba(0, 0, 0, 0.05);
  padding: 0 3px;
  cursor: pointer;
  margin: 2px;
}

.dkm-ad-category-input-box .dkm-show-selected-categories .dkm-input .dkm-selected-category span {
  margin-left: 5px;
  color: rgba(33, 133, 208, .5);
}

.dkm-ad-category-input-box .dkm-button:hover {
  color: rgb(33, 133, 208);
}

.dkm-ad-category-input-box .dkm-button {
  background: none;
  font-weight: 400;
  color: rgba(33, 133, 208, .8);
  border-radius: 30px;
  position: absolute;
  top: -8px;
  right: -20px;
  font-size: 22px;
  cursor: pointer;
  background: #ffffff;
}

.dkm-ad-category-input-box .dkm-mini-loading .dkm-mini-loader {
  border-color: #c1c1c1;
  border-top-color: #6d6d6d;
}

.dkm-ad-category-input-box .dkm-categories-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  will-change: top, left, margin, transform, opacity;
  background: rgba(255, 255, 255, 0.5);
  z-index: 1;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-categories-modal-background {
  display: table;
  width: 100%;
  height: 100%;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-modal-content {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff;
  box-shadow: 0px 0px 5px black;
  font-size: 16px;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-dialog-modal {
  display: table-cell;
  vertical-align: middle;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-category-item .dkm-checkbox.dkm-checked::after {
  box-sizing: content-box;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-header {
  padding: 7px 20px;
  border-bottom: 2px solid #bbbbbb;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-body {
  padding: 10px 20px;
  max-height: 400px;
  overflow-y: auto;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-category-item {
  margin-top: 10px;
  margin-left: 10px;
  position: relative;
}

.dkm-ad-category-input-box .dkm-categories-modal .dkm-category-item .dkm-category-name {
  display: inline-block;
  cursor: pointer;
}