.arrow {
    cursor: pointer;
    margin-right: 6px;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.treeview {
    margin-top: 4px;
    color: #73879C;
    border-radius: .28571429rem;
    box-shadow: 0 0 0 0 transparent inset;
    -webkit-transition: color .1s ease, border-color .1s ease;
    transition: color .1s ease, border-color .1s ease;

}

.treeview > .treenode {
    margin: 0px;
}

.treenode {
    margin-left: 24px;
    padding: 6px 0;
}

.node-text:hover {
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
}

/* rotate the triangle to close it */
.node-closed > .arrow {
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.node-closed > .treenode {
    display: none;
}

.node-selected {
    background-color: #e8efff;
    box-shadow: 0 0 2px #0a6aa1;
}

.node-icon {
    display: inline-block;
    margin: 0;
    padding-right: 10px;
}

.node-text {
    cursor: pointer;
    display: inline-block;
    padding: 5px;
}

.node-text.active {
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
    color: #2185d0;
}

.arrow.active + .node-text {
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
    color: #2185d0;
}

.treenode.active > .node-text {
    background-color: #e8eff7;
    box-shadow: 0 0 2px #0a6aa1;
    color: #2185d0;
}